# Ignore the source TypeScript files, as only compiled JS is needed in the package
src/
.vscode/

# Ignore TypeScript configuration and build tools
tsconfig.json
tslint.json
.eslintrc
.eslintignore

# Ignore any test files or folders
__tests__/
*.test.ts
*.spec.ts
*.test.js
*.spec.js

# Ignore other configuration and helper files
.env
.gitignore
.npmignore

# Ignore development folders and logs
node_modules/
dist/
*.log